<a href="https://colab.research.google.com/github/singh1811/Machine_learning_projects/blob/main/Titanic_survival_Prediction_using_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Titanic Survival Prediction using NAIVE_BAYES

importing libraries

In [86]:
import pandas as pd 
import numpy as np

Collecting dataset from directory

In [87]:
from google.colab import files
uploads= files.upload()

Saving titanicsurvival.csv to titanicsurvival (1).csv

Load and Summarize the dataset

In [88]:
data= pd.read_csv("titanicsurvival.csv")
print(data.shape)
data.head(10)

(891, 5)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0
5       3    male   NaN   8.4583         0
6       1    male  54.0  51.8625         0
7       3    male   2.0  21.0750         0
8       3  female  27.0  11.1333         1
9       2  female  14.0  30.0708         1

Mapping text data to binary values (Male=1,female=0)

In [89]:
income_set=set(data['Sex'])
data['Sex']=data['Sex'].map({'male':1,'female':0}).astype(int)
print(data.head(10))

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0
5       3    1   NaN   8.4583         0
6       1    1  54.0  51.8625         0
7       3    1   2.0  21.0750         0
8       3    0  27.0  11.1333         1
9       2    0  14.0  30.0708         1

Segregating data into X and Y

In [ ]:
X=data.drop('Survived',axis='columns')
X

In [ ]:
Y=data.Survived
Y

Removing NAN values

In [ ]:
X.columns[X.isna().any()] #checking if any nan is present in any columns

In [ ]:
X.Age=X.Age.fillna(X.Age.mean()) # replacing with Mean of that column

In [ ]:
X.columns[X.isna().any()] #again just checking if any

Train and Test Splitting

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

Training (Using Naive_Baye's model)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,Y_train)

Validation i.e predicting whether person will survive or not from new data

In [ ]:
Pclass=int(input('enter the Pclass no. of the person'))
Sex=int(input('enter the Sex of the person'))
Age=int(input('enter the Age of the person'))
Fare=float(input('enter the Fare'))
data=[[Pclass,Sex,Age,Fare]]
result= model.predict(data)
if result==0:
  print('Person will not survive')
else:
  print('Person will survive')

Predicting all test data

In [ ]:
y_predict=model.predict(X_test)
print(np.column_stack((y_predict,Y_test)))

Finding accuracy of the model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the model: {0}%".format(accuracy_score(y_predict,Y_test)*100))

With different model under naive_bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,ComplementNB,CategoricalNB
model1=GaussianNB()
model2=BernoulliNB()
model3=ComplementNB()
model4=CategoricalNB()

model1.fit(X_train,Y_train)
model2.fit(X_train,Y_train)
model3.fit(X_train,Y_train)
model4.fit(X_train,Y_train)


y1=model1.predict(X_test)
y2=model2.predict(X_test)
y3=model3.predict(X_test)
y4=model4.predict(X_test)
print("Accuracy of model1:{0}%".format(accuracy_score(Y_test,y1)*100))
print("Accuracy of model2:{0}%".format(accuracy_score(Y_test,y2)*100))
print("Accuracy of model3:{0}%".format(accuracy_score(Y_test,y3)*100))
print("Accuracy of model3:{0}%".format(accuracy_score(Y_test,y4)*100))